.slick-slider {
  max-width: 71.25rem;

  .box {
    box-sizing: border-box;
    background-color: white;
    
    border-radius: 20px;

    max-width: 22.5rem !important;
    height: 29rem;

    &__heading {
      font-size: 2.25rem;
      line-height: 0.85;
      max-width: 4rem;

      padding: 4.5rem 7.4rem 3rem 8rem;
      align-content: flex-start;

      position: relative;

      &::before {
        content: '';
        background: url('../images/grey-round.svg') no-repeat center;
        background-size: contain;
        width: 4rem;
        height: 4rem;
  
        position: absolute;
        left: 2.5rem;
      }
    }

    &__list {
      list-style: none;
      max-width: 19rem;
      padding-left: 4rem;
    }

    &__element {
      position: relative;
      font-size: 1.1rem;
      line-height: 1.6;

      padding-bottom: 1.2rem;

      &::before {
        content: '•';
        font-size: 2rem;
        color: $blue-decor-color;
        font-weight: 700;
        display: inline-block;
        position: absolute;
        left: -2rem;
        top: -0.3rem;
      }
    }
  }

  button.slick-arrow{
    content: '';
    background: url('../images/arrow.png') no-repeat center;
    background-color: white;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10px;
  }

  .slick-prev {
    top: 16rem;
    left: -4rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);

    &::before {
      content: '';
    }
  }

  .slick-next {
    top: 14.3rem;
    right: -4rem;
    transform: rotate(180deg);
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.06);

    &::before {
      content: '';
    }
  }
}

.slick-dots {
  bottom: -3rem !important;
}

.slick-dots li button:before {
  font-size: 12px !important;
}
