.contacts {
  padding-right: 5rem;

  &__heading {
    font-size: 1.8rem;
    font-weight: 700;

    padding-bottom: 2.6rem;
  }

  &__mail {
    font-size: 1.5rem;
    font-weight: 700;
    color: $blue-decor-color;
  }

  &__text {
    line-height: 1.3;
    padding-top: 4.1rem;
  }
}
