.form {
  padding-left: 7rem;
  width: 55rem;

  &__title {
    font-size: 1.9rem;
    color: $text-color;
    font-weight: 700;

    width: 20rem;
    padding-bottom: 2rem;
  }

  &__input {
    width: 100%;
    padding-bottom: 1rem;
    padding-left: 0.4rem;
    font-size: 1.3rem;
  }

  &__contacts {
    display: flex;

    padding-bottom: 3rem;
  }

  &__confirmation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7rem;
  }
}
