.fourthsection {
  position: relative;
  background: $section-background-color;
  background-size: 100% 90%;

  padding-left: 18.7rem;

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 30rem);

    padding-top: 13rem;
  }

  &__bottom {
    position: relative;
    bottom: -8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 17.5rem;
    max-width: 100rem;
    border-radius: 30px 0 0 30px;

    background-color: $blue-decor-color;
  }

  &__item {
    position: relative;
    color: $text-color-white;
    font-size: 2rem;
    font-weight: 400;
    width: 12rem;

    &::before {
      content: '';
      background: url('../images/blue-round.svg') no-repeat center;
      background-size: contain;
      width: 6.25rem;
      height: 6.25rem;
      position: absolute;
      left: -8rem;
      top: -1rem;
    }
  }
}
