.list {
  list-style: none;
  
  &__item {
    position: relative;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.2;
    width: 12rem;
    text-align: start;
    padding-bottom: 3.1rem;

    &::before {
      content: '';
      background: url('../images/grey-round.svg') no-repeat center;
      background-size: contain;
      width: 3rem;
      height: 3rem;

      position: absolute;
      left: -5rem;
    }
  }
}
