.socialmedia {
  width: 18rem;

  &__list {
    width: inherit;
    list-style: none;
    padding-bottom: 9rem;
  }

  &__item {
    display: inline;
    padding-right: 2.6rem;
  }

  &__logo {
    width: 1.5rem;
    height: 1.5rem;
  }
}
