$text-color-white: #fff;
$text-color-grey: #4a4d4e;

$section-background-color: #f9f9f9;
$footer-color: #333;

$blue-decor-color: #0093e6;
$grey-decor-color: #e5e5e5;

$button-color: #0093e6;


$transition-duration: 0.5s;

