.slick-slider {
  width: 74rem;

  .box {
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.06);
    border-radius: 20px;

    width: 22.5rem !important;
    height: 29rem;

    &__heading {
      font-size: 2.25rem;
      line-height: 0.85;
      color: $text-color;
      width: 4rem;

      padding: 4.5rem 7.4rem 3rem 8rem;
      align-content: flex-start;

      position: relative;

      &::before {
        content: '';
        background: url('../images/list-style-round.png') no-repeat center;
        background-size: contain;
        width: 4rem;
        height: 4rem;
  
        position: absolute;
        left: 2.5rem;
      }
    }

    &__list {
      list-style: none;
      width: 19rem;
      padding-left: 4rem;
    }

    &__element {
      position: relative;
      font-size: 1.1rem;
      line-height: 1.6;

      padding-bottom: 1.2rem;

      &::before {
        content: '•';
        font-size: 2rem;
        color: #0093e6;
        font-weight: bold;
        display: inline-block;
        position: absolute;
        left: -1.5rem;

      }
    }
  }

  button.slick-arrow{
    content: '';
    background: url('../images/arrow.png') no-repeat center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10px;
  }

  .slick-prev {
    left: -4rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);

    &::before {
      content: '';
    }
  }

  .slick-next {
    right: -4rem;
    transform: rotate(180deg);
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.06);

    &::before {
      content: '';
    }
  }
}
