<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.scss"><link>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <title>Vis-a-vis landing</title>
  </head>
  <body>
    <header class="header">
      <div class="logo header__logo"></div>
      <ul class="nav header__nav">
        <li>
          <a href="#" class="link nav__item">Lorem</a>
        </li>
        <li>
          <a href="#" class="link nav__item">Ipsum</a>
        </li>
        <li>
          <a href="#" class="link nav__item">Simply</a>
        </li>
        <li>
          <a href="#" class="link nav__item">Dummy</a>
        </li>
      </ul>
    </header>

    <main>
      <section class="section firstsection">
        <div class="firstsection__top">
          <h1 class="firstsection__heading">
            Lorem Ipsum
            <br>
            is simply
          </h1>
        </div>

        <div class="firstsection__content">
          <div class="firstsection__description">
            <h2 class="firstsection__title">
              Lorem Ipsum is simply dummy text of the printing
            </h2>
            <p class="firstsection__text">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <button class="button firstsection__button">
              Lorem Ipsum
            </button>
          </div>
          <ul class="list firstsection__list">
            <li class="list__item">
              It is a long established fact that a reader
            </li>
            <li class="list__item">
              The point of using Lorem Ipsum is that
            </li>
            <li class="list__item">
              Many desktop publishing packages
            </li>
            <li class="list__item">
              There are many variations of passages
            </li>
          </ul>
          <div class="firstsection__decoration"></div>
        </div>
      </section>

      <section class="section secondsection">
        <div class="secondsection__top">
          <h2 class="secondsection__heading">Lorem</h2>
          <div id="corousel" class="corousel"></div>
        </div>
        <div class="secondsection__square"></div>

        <div class="secondsection__center center">
          <h3 class="center__heading">
            Lorem Ipsum is simply
          </h3>
          <div class="center__content">
            <p class="center__row">
              Contrary to popular belief, Lorem Ipsum
            </p>
            <p class="center__row">
              It was popularised in the 1960s with the release
            </p>
            <p class="center__row">
              Random text it has roots in a piece of classical
            </p>
            <p class="center__row">
              If you are going to use a passage of Lorem Ipsum
            </p>
            <p class="center__row">
              Latin literature from 45 BC, making it over 2000 years old
            </p>
            <p class="center__row">
              There are many variations of passages of Lorem Ipsum
            </p>
          </div>
        </div>

        <div class="secondsection__bottom bottom">
          <h3 class="bottom__heading">
            There are many variations of passages
          </h3>
          <p class="bottom__description">
            of Lorem Ipsum available, but the majority have suffered alteration in some form
          </p>
          <div class="bottom__content">
            <p class="bottom__row">
              Lorem Ipsum
            </p>
            <p class="bottom__row">
              Lorem Ipsum
            </p>
            <p class="bottom__row">
              Lorem Ipsum
            </p>
            <p class="bottom__row">
              Lorem Ipsum
            </p>
            <p class="bottom__row">
              Lorem Ipsum
            </p>
            <p class="bottom__row">
              Lorem Ipsum
            </p>
          </div>
          <div class="secondsection__decoration"></div>
        </div>
      </section>

      <section class="thirdsection">

      </section>

      <section class="section fourthsection" id="fourth">
        <section-cards></section-cards>
        <div class="fourthsection__bottom">
          <p class="fourthsection__item">
            Lorem Ipsum is simply
          </p>
          <p class="fourthsection__item">
            Lorem Ipsum is simply
          </p>
          <p class="fourthsection__item">
          Lorem Ipsum is simply
        </p>
        </div>
      </section>

      <section class="section fifthsection" id="fifth">
        <h2 class="fifthsection__heading">
          Lorem Ipsum
          <br>
          is simply dummy text
        </h2>

        <div class="fifthsection__content">
          <form
            id="form"
            class="fifthsection__form form"
            @submit="checkForm"
            action="/form-sending"
            method="post"
            novalidate="true"
          >
            <h3 class="form__title">
              It is a long established fact that a reader
            </h3>
            <label class="placeinput">
              <input
                required="1"
                type="text"
                v-model="name"
                id="name"
                class="form__input input"
              />
              <div class="place_holder">
                Name<span>＊</span>
              </div>
            </label>
            <p :class="[isNameValid ? 'error__invisible' : 'error']">
              Lorem Ipsum is simply dummy
            </p>

            <div class="form__contacts">
              <label class="placeinput">
                <input
                  required="1"
                  type="tel"
                  v-model="phone"
                  id="phone"
                  class="form__input input"
                />
                <div class="place_holder">
                  Phone<span>＊</span>
                </div>
                <p :class="[isPhoneValid ? 'error__invisible' : 'error']">
                  Lorem Ipsum is simply dummy
                </p>
              </label>

              <label class="placeinput">
                <input
                  required="1"
                  type="email"
                  v-model="email"
                  id="email"
                  class="form__input input"
                />
                <div class="place_holder">
                  E-mail<span>＊</span>
                </div>
                <p :class="[isEmailValid ? 'error__invisible' : 'error']">
                  Lorem Ipsum is simply dummy
                </p>
              </label>
            </div>

            <vue-slider v-model="value">
              <template
                v-slot:dot>
                <img class="custom-dot"/>
              </template>
            </vue-slider>

            <div class="form__confirmation">
              <label for="confirm">
                <input
                  type="radio"
                  v-model="confirm"
                  id="confirm"
                  value="ok"
                >
                &emsp;Lorem Ipsum is simply dummy text
              </label>

              <button class="form__button button">Lorem Ipsum</button>
            </div>
          </form>
          <div class="fifthsection__contacts contacts">
            <h3 class="contacts__heading">
              It is a long established fact that a reader
            </h3>
            <a href="mailto:support@email.com" class="contacts__mail">
              support@email.com
            </a>
            <p class="contacts__text">
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by injected humour,
              or randomised words which don't look even slightly believable.
              If you are going to use a passage of Lorem Ipsum,
              you need to be sure there isn't anything embarrassing hidden in the middle of text.
              All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
              making this the first true generator on the Internet.
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="footer__socialmedia socialmedia">
        <ul class="socialmedia__list">
          <li class="socialmedia__item">
            <a href="#" class="link">
              <img src="images/facebook.svg" alt="facebook-link" class="socialmedia__logo">
            </a>
          </li>
          <li class="socialmedia__item">
            <a href="#" class="link">
              <img src="images/instagram.svg" alt="instagram-link" class="socialmedia__logo">
            </a>
          </li>
          <li class="socialmedia__item">
            <a href="#" class="link">
              <img src="images/youtube.svg" alt="toutube-link" class="socialmedia__logo">
            </a>
          </li>
          <li class="socialmedia__item">
            <a href="#" class="link">
              <img src="images/tweeter.svg" alt="tweeter-link" class="socialmedia__logo">
            </a>
          </li>
        </ul>
        <div class="footer__label"></div>
      </div>
      <div class="footer__lists">
        <ul class="footer__list list">
          <li class="footer__item">Lorem</li>
          <li class="footer__item">Ipsum</li>
          <li class="footer__item" >Demmy</li>
          <li class="footer__item">Text</li>
        </ul>
        <ul class="footer__list list">
          <li class="footer__item">Lorem</li>
          <li class="footer__item">Ipsum</li>
          <li class="footer__item">Demmy</li>
          <li class="footer__item">Text</li>
        </ul>
        <ul class="footer__list list">
          <li class="footer__item">Lorem</li>
          <li class="footer__item">Ipsum</li>
          <li class="footer__item">Demmy</li>
          <li class="footer__item">Text</li>
        </ul>
      </div>
    </footer>
    <script src="main.js" defer></script>
  </body>
</html>